/* Colors and fonts */



body {
	background-color: lightblue;
	color: black;
	font-family: Agbalumo;
	font-size: 20px;
	text-align: center;
}
h1 {
	color: blue;
	font-family: DM+Serif+Display;
	font-weight: lighter;
	letter-spacing: 5px;
	font-size: 50px;
	text-transform: uppercase;
	text-align: center;
}
h2 {
	color: blue;
	font-family: Agbalumo;
	font-size: 30px;
	font-weight: bold;
	text-align: center;
}
a {
	text-decoration: none;
	color: blue;
}
a:hover {
	color: purple;
}
div{
	background: white;
	padding: 90px;
	border: 2px solid black;
	border-radius: 20px;
	width: 600px;
	height: auto;
	margin: 60px auto;
	box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.1);
}

@media (max-width: 960px){
	.card-white{
		width: 700px;
	}
}

@media (max-width: 720px){
	.card-white{
		width: 500px;
	}
}

@media (max-width: 540px){
	.card-white{
		width: 300px;
	}
}

.img-circle{
	border-radius: 50%;
	width: 100px;
	height: 100px;
}
.img-bordered{
	border: 5px solid lightblue;
}
.btn-blue{
	background-color: blue;
	color: white;
	padding: 15px 20px;
	border-radius: 5px;
}
.btn-blue:hover{
	background-color: lightblue;
	color: blue;
}
.list-inline{
	list-style: none;
	padding-left: 0px;
}
.list-inline li{
	display: inline;
	padding: 10px;
}
.list-inline i{
	font-size: 50px;
	color: blue;
}
.list-inline i:hover{
	color: lightblue;
}
#introduction p {
	margin-bottom: 40px;
}
